.primary-input {
  background-color: $light-gray !important;
  height: 48px;
  border-radius: 12px;
  border: 1px solid $secondary-gray;
}

button.btn-primary {
  background-color: $primary-blue;
  height: 48px;
  border-radius: 48px;
  &:hover {
    background-color: $primary-blue;
  }
}
