@font-face {
  font-family: "Satoshi Variable";
  src: url("../../fonts/Satoshi-Variable.woff");
  font-feature-settings: "salt" on, "ss03" on, "liga" off;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("../../fonts/Satoshi-Variable.woff");
  font-feature-settings: "salt" on, "ss03" on, "liga" off;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("../../fonts/Satoshi-Variable.woff");
  font-feature-settings: "salt" on, "ss03" on, "liga" off;
  font-style: normal;
  font-weight: 700;
}
